<footer class = "plsWork">
  <br>
  <a href="/">Eternals&copy;</a>
  <a href="/contact">Contact</a>
  <a href="/about">About</a>
  <div class="Social-Media">
    <a href="#"><i class="fa-brands fa-facebook"></i></a>
    <a href="#"><i class="fa-brands fa-twitter"></i></a>
  </div>
</footer>