
<%- include('../partials/header.ejs')%>
    <div class="content">
        <h3 class = "mainTitle"><u>About us!</u></h3>
        <p class = "mainContent">At Eternals, we strive to provide scheduling that meet the needs<br>of our customers and make a positive impact on their lives.</p>
        <img src = "images/aboutUSS.jpg" id = "fixSize">
          </div>
        
    <%- include('../partials/footer.ejs')%>