<%- include('../partials/header.ejs')%>
    <div class="content">
        <h3 class = "mainTitle"><u>Contact Us!</u></h3>
        <p id = "content-con"><b>Address:</b> 9201 University City Blvd,<br>Charlotte, NC 28223<br><b>Number:</b> 704-533-3986<br><b>Fax: </b>704-533-3923
        </p>
        <img src="/images/connectWithUs.jpg" alt="not working" id = "connectPic"></a>
          </div>
    <%- include('../partials/footer.ejs')%>