<%- include('../partials/header.ejs')%>
    <div class="content">
        <h3 id="welcomeTitle"><u>Welcome to Eternals</u></h3>
        <p id="welcomeContent"><br>Our mission at Eternals is to provide a way to "eternalize" your busy life into a
            schedule<br> whether you are
            planning on making the schedule set to public, so others can see it and<br>connect with you. Or whether you
            are
            making the schedule set to private where you can<br>invite friends to it if you want.<br><br></p>
        <p id=welcomeEnding>Check out the <a href=/events id="tabular"><u>events</u></a> section to browse availabe
            Events!</p>

        <img src="/images/eternals-2.png" alt="not working" id="welcomeImage"></a>

    </div>
    <%- include('../partials/footer.ejs')%>